<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.ke.xently.shops">

    <application>
        <activity
            android:name=".ShopsActivity"
            android:exported="true"
            android:label="@string/title_activity_shops" />
    </application>

</manifest>