<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.ke.xently.products">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ProductsActivity"
            android:exported="false"
            android:label="@string/title_activity_products"
            android:theme="@style/Theme.Xently.NoActionBar">
            <intent-filter>
                <action android:name="co.ke.xently.action.PRODUCTS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>